
frontend http_front
  bind *:80
  default_backend http_back

frontend https_front
  bind *:443
  default_backend https_back

backend http_back
  server master localhost:one

backend https_back
  server master localhost:two

